*{
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

.navbarele{
  display: flex;
  flex-wrap: wrap;
  margin-top: 11px;
  gap:20px;
}