*{
  margin: 0;
  padding: 0;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  gap: 30px;
}

.navbarele{
  display: flex;
  flex-wrap: wrap;
  margin-top: 11px;
  gap:20px;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
  gap:90px;
}

.imageh5{
  margin-top: 10px;
}

.imageh5 h5{
    margin-top: 20px;
    color:rgb(38, 60, 52) ;
    font-weight: 500;
}
.quicklinks h3{
  color:rgb(38, 60, 52) ;
}

.contact h3{
  color:rgb(38, 60, 52) ;

}
.contact h5{
  margin-top: 20px;
  color:rgb(38, 60, 52) ;
  font-weight: 500;
}

.socialmedia{
 display: flex;
 flex-wrap: wrap;
 margin-top: 20px;
 gap: 10px;
}

.socialmedia img {
  background-color: white;
}
