*{
    margin: 0;
    padding: 0;
}

.mainbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.snlogo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    margin-left: 155px;
}

.topthree .snlogo h5{
    color: rgb(73,94,87);
}

.topthree{
    margin-right: 30px;
}

.topthree h1{
    color: rgb(73,94,87);
}

.topthree h4{
    color: rgb(73,94,87);
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
}

.rightbox button:hover{
    color: rgb(234, 217, 135) ;
    background-color:rgb(73,94,87) ;
}