*{
    margin: 0;
    padding: 0;
}

.mainBox{
    text-align: center;
    background-color:rgb(73,94,87)  ;
}

.mainBox h1{
    margin-right: 255px;
    color: white;
}

.fields{
    display: flex;
    flex-wrap: wrap;
    margin-left: 600px;
}

