*{
    margin: 0;
    padding: 0;
}

.majorbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

.leftinnerbox{
    margin-top: 15px;
}

.leftinnerbox button{
    color:rgb(73,94,87) ;
    background-color: rgb(244, 206, 20);
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: large;
}

.image img{
    margin-top: 150px;
    margin-bottom: 15px;
    border-radius: 500px;
}

h1{
    color: white;
    font-size:300%;
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h5{
    color :rgb(92, 113, 106);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.lastname{
    margin-top: 8px;
}

.lastname:hover {
    box-shadow: 0 5px 5px 0px rgb(147, 166, 160);
}
.firstname:hover {
    box-shadow: 0 5px 5px 0px rgb(147, 166, 160);
}
.email:hover {
    box-shadow: 0 5px 5px 0px rgb(147, 166, 160);
}
.phone:hover {
    box-shadow: 0 5px 5px 0px rgb(147, 166, 160);
}
.rdate:hover {
    box-shadow: 0 5px 5px 0px rgb(147, 166, 160);
}
.rtime:hover {
    box-shadow: 0 5px 5px 0px rgb(147, 166, 160);
}
.nopeople:hover {
    box-shadow: 0 5px 5px 0px rgb(147, 166, 160);
}
.occasion:hover {
    box-shadow: 0 5px 5px 0px rgb(147, 166, 160);
}



